.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.tabela {
    width: 100%;
    border-collapse: collapse; /*define a separação entre as bordas*/
    padding: 30px;
    text-align: left;
}

.tabela th,
.tabela td {
    border: 1px solid var(--azul-escuro);
    padding: 8px;
    text-align: left;
}

.tabela th {
    background-color: #f2f2f2;
}