.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color: var(--azul-escuro);
    border-radius: 9px;
}

label{
    color: var(--cinza-claro);
}